@import '_variables.scss';

body {
  background: $site-background;
  font-family: $main-font-family;
}

a{
  text-decoration: none;
  color: $site-link-color;
}

/* GENERAL CLASSES */

.text-right{
  text-align: right;
}

.btn{
  padding: 8px;
  border:1px solid $site-link-color;
  cursor: pointer;
  &:hover{
    background: $site-link-color;
    color: white;
  }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* MENU */
.menu {
  display: -webkit-flex;
  display: flex;
  padding: 8px;

  li {
    display: unset;
    text-align: center;
    margin-right: 30px;
    text-transform: uppercase;
    padding: 5px 20px 5px 20px;

    &:first-child{
      margin-right: auto;
      border:1px solid $border-color;

      &:hover{
        background: $site-link-color;
        a{
          color: white;
        }
      }
    }
  }
}